<br>
<div class="ui secondary menu">
    <div class="header item"><img src="/logo.png" style="width: 100px"></div>
    <a href="/" class="item" style="font-size: 15px;">
        <i class="icon mobile alternate"></i>&nbsp;&nbsp; دستگاه ها
    </a>

    <a href="/builder" class="item" style="font-size: 15px;">
        <i class="icon wrench"></i>&nbsp;&nbsp; APK Builder
    </a>

    <a href="/logs" class="item" style="font-size: 15px;">
        <i class="icon terminal"></i>&nbsp;&nbsp;گزارش رویداد 
    </a>


   
    <div class="right menu">
        <a href="/logout" class="ui item" style="font-size: 15px;">
            <i class="icon logout"></i>&nbsp;&nbsp; خروج
        </a>
    </div>
</div>
<div class="ui divider"></div>
<br>